.popup {
    background-color: white;
    color: black;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 195px;
    width: 430px;
    max-height: 330px;
    margin: 0 425px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 1279px) {
    .popup {
        margin: 0 calc((100% - 430px)/2);
    }
}

@media screen and (max-width: 767px) {
    .popup {
        margin: 0 calc((100% - 288px)/2);
        width: 288px;
        max-height: 322px;
        top: 123px;
    }
}