.element__like {
    background-image: url(../../../images/element__like.svg);
    border: none;
    width: 22px;
    height: 19px;
    background-color: white;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;

}
.element__like:active{
    fill:black;
    background-color: black;
}