.element__like {
    background-image: url(../../../images/element__like.svg);
    border: none;
    width: 22px;
    height: 19px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;

}