.profile__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__info {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 36px;
        max-width: 217px;
    }
}