.page{
   font-style: normal;
   color: white;
   margin: 0 auto;
   max-width: 1280px;
   background-color: black;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Inter', Arial, sans-serif;
}