.popup__container {
    position: relative;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    margin: 0 425px;
    top: 195px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        margin: 25px 22px;
        width: 238px;
    }
}