.header__logo{
    width: 142px;
    height: 33px;
    margin: 0 0 41px;
}
@media screen and (max-width: 1023px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 0 27px;
    }
}