.profile__line {
    align-items: baseline;
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width: 767px) {
    .profile__line {
        justify-content: center;
    }
}