.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 30px 0 0;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        align-self: center;
        margin: 0 0 26px 0;
        width: 24px;
        height: 24px;
    }
}

.profile__avatar:hover {
    opacity: 0.6;
    background-repeat: no-repeat;
    content: url(../../../images/vector.svg);
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}