.profile__edit-btn {
    border: 1px solid white;
    margin-left: 25px;
    cursor: pointer;
    background-image: url(../../../images/vector.svg);
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    align-self: center;
    padding: 0;
}

.profile__edit-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        background-size: 7.5px;
        align-self: baseline;
    }
}