.popup__cross-icon {
    background-image: url(../../../images/cross.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    margin: 0 0 16px;
    cursor: pointer;
    border: none;
}

.popup__cross-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__cross-icon {
        right: 0px;
        width: 20px;
        height: 20px;
        top: -38px;
    }
}