.popup__submit-btn {
    background-color: black;
    width: 100%;
    height: 52px;
    color: white;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.popup__submit-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__submit-btn {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}