.footer{
    max-width: 880px;
    margin: 0 auto 60px;
}
@media screen and (max-width: 767px) {
    .footer {
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 36px;
    }
}