.element__line{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    max-width: 100%;
    padding: 25px 20px 21px 21px;
    justify-content: space-between;
}