.popup__text_about {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    border-bottom: black 1px solid;
    margin: 0 0 48px;
}
@media screen and (max-width: 767px) {
    .popup__text_about {
       margin-bottom: 45px;
    }
}