.popup {
    color: black;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
}
.popup:hover{
    opacity: 1;
}